<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>About Magnus Carlsen Page</title>
  </head>
  <body>

  <img src="/public/images/transferir.jpeg" alt="World Chess Champion">
   
  <article>
    <p>Magnus Carlsen (born Sven Magnus Øen Carlsen, 30 November 1990) is the World Chess Champion. He was World Champion on 22 November 2013, by defeating Viswanathan Anand by 6½ to 3½. Carlsen also won the return match in 2014 by 6½ - 4½. He also won the match against Sergey Karjakin in 2016, against Fabiano Caruana in 2018, and against Ian Nepomniachtchi in 2021.
    </p>
    <p>
      A Norwegian chess grandmaster and chess prodigy, Carlsen is the highest rated player in the world, and the highest rated player in the history of chess.His peak rating of 2881 is higher than even Kasparov achieved. Kasparov's highest rating was 2851.
    </p>
    <p>On 26 April 2004, Carlsen became a grandmaster at the age of 13 years, 148 days. This made him the third-youngest grandmaster in history. He played at the Nanjing Pearl Spring tournament in September-October 2009. This lifted him to an Elo rating of 2801. This made him second in the world. He is the fifth player to have a rating over 2800. He was 18 years old when he got this rating. This made him the youngest person to have a rating above 2800.
    </p>
    <p>On 1 January 2010, the new FIDE rating list was published. He was 19 years and 32 days old when he became the youngest chess player in history to be ranked world number one. He broke the previous record held by Vladimir Kramnik.
    </p>
  </article>
  
  
  
  <nav class= 'Magnus Carlsen'>
    <a href="/home">Home </a>
    <a href="/gallery">Gallery </a>
    <a href="/works">Works</a>
   </nav>
  </body>
</html>