<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Mangnus</title>
</head>
<body> 
    <h1>Images and Trophies</h1>
    <img src="public/images/transferir (1).jpeg" alt="World champion trophy">
    <img src="public/images/transferir (2).jpeg" alt="World champion trophy">


  
    <nav class= 'Magnus Carlsen'>
        <a href="/home">Home </a>
        <a href="/gallery">Gallery </a>
        <a href="/works">Works</a>
       </nav>
</body>
</html>