<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnus Work</title>
</head>
<body>
   <article>

    <p>
        Carlsen made headlines after his victory, at the age of 13, in the C group at the 2004 Corus chess tournament in Wijk aan Zee.[29] He obtained a score of 10½/13, losing just one game (against the highest-rated player of the C group, Duško Pavasovič).[30] As a result, he earned his first GM norm, and achieved a PR of 2702. Particularly notable was his win over Sipke Ernst in the penultimate round, when he sacrificed material to give mate in just 29 moves.[31] His victory in the C group qualified him to play in the B group in 2005, and it led Lubomir Kavalek, writing for the Washington Post, to give him the title "the Mozart of chess" (although, as pointed out by Edward Winter, the nickname had been given to many illustrious predecessors). Agdestein said that Carlsen had an excellent memory and played an unusually wide range of openings. Carlsen's prowess caught the attention of Microsoft, which became his sponsor.

    </p>

<p>

    Carlsen obtained his second GM norm at the Moscow Aeroflot Open in February. On 17 March, in a blitz chess tournament in Reykjavík, Iceland, he defeated former World Champion Anatoly Karpov. It was a preliminary event leading up to a rapid knockout tournament beginning the next day. In that event, Carlsen was paired with Garry Kasparov, then the top-rated player in the world. Carlsen achieved a draw in their first game but lost the second, and was thus knocked out of the tournament.
</p>
<p>
    In the sixth Dubai Open Chess Championship, held 18-28 April, Carlsen obtained his third and final GM norm. It made him the world's youngest GM at the time, and the second-youngest GM in history at the time (after Sergey Karjakin, who earned the title at 12 years and 7 months).[36] Carlsen played in the FIDE World Chess Championship, becoming the youngest player ever to participate in one, but was knocked out in the first round by Levon Aronian.[37]

In July, Carlsen and Berge Østenstad, then the reigning Norwegian champion, tied for first in the Norwegian Chess Championship, each scoring 7/9. A two-game match between them was arranged to decide the title. Both games were drawn, which left Østenstad the champion because he had superior tiebreaks in the tournament.
</p>
<p>
    In the Smartfish Chess Masters event at the Drammen International Chess Festival 2004-05, Carlsen defeated Alexei Shirov, then ranked No. 10[39] in the world, as well as the co-winner of the tournament.[40] In the semifinals of the Ciudad de León rapid chess tournament in June, Carlsen played a four-game match against Viswanathan Anand, who was ranked No. 2 in the world at the time and had won the 2003 World Rapid Chess Championship.[41] Anand won 3–1.[42]

In the Norwegian Chess Championship, Carlsen again finished in shared first place, this time with his mentor Simen Agdestein. A playoff between them was played between 7 and 10 November. This time, Carlsen had the better tiebreaks, but the rule giving the title to the player with better tiebreak scores in the event of a 1–1 tie had been revoked. The match was closely fought—Agdestein won the first game, Carlsen the second—so it went into a series of two-game rapid matches until there was a winner. Carlsen won the first rapid game, Agdestein the second. Then followed three draws until Agdestein won the championship title with a victory in the sixth rapid game.

In October, Carlsen took first place at the Arnold Eikrem Memorial in Gausdal with a score 8/9 and a PR of 2792.
</p>


   </article>
   
   
   
   
   
   
   
   
    <nav class= 'Magnus Carlsen'>
        <a href="/home">Home </a>
        <a href="/gallery">Gallery </a>
        <a href="/works">Works</a>
    
        <article></article>
</body>
</html>